<!DOCTYPE html>
<html>
<head>
    <title>Interview Invitation</title>
</head>
<body>
    <h1>Welcome to the Interview, {{ data.user_name }}</h1>
    <h1>Welcome to the Interview, {{ data.id }}</h1>

    <p><strong>Organization:</strong> {{ data.organization_name }}</p>
    <p><strong>Job ID:</strong> {{ data.job_id }}</p>
    <p><strong>Status:</strong> {{ data.status }}</p>
    <p><strong>Email:</strong> {{ data.email }}</p>
    <p><strong>Phone:</strong> {{ data.phone_number }}</p>
    <p><strong>Match Score:</strong> {{ data.match_score }}%</p>
</body>
</html>
